*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-offset: 0px;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  flex-direction: row;
  gap: 30px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px; 
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 400;
}

.content__list {
  width: 399px; 
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  text-transform: uppercase;
  font-size: 75px;
  font-family: 'Oswald', sans-serif; 
  font-weight: 700;
  line-height: 70.50px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px; 
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-size: 30px; 
  font-family: 'Oswald', sans-serif; 
  font-weight: 700; 
  text-transform: uppercase; 
  width: 200px;
  line-height: 30px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px; 
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 400; 
  line-height: 16.20px;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #fff;
}

.search-form__label-text {
  display: flex;
  width: fit-content;
  color: #fff;
  padding-left: 5px;
}

.search-form__textfield {
  appearance: none;
  cursor: pointer;
  display: flex;
  width: fit-content;
  color: white;
  border: none;
  background-color: transparent;
  border-width: 1px 1px;
  border-style: solid;
  border-color: #fff transparent;
  min-width: 225px;
  font-size: 18px; 
  line-height: 22px;
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: flex;
  background-color: transparent;
  border: solid 1px white;
}

.button {
  cursor: pointer;
  font-size: 18px; 
  color: white; 
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 700;
  background-color: transparent;
  border: solid 1px white;
  width: 194px; 
  height: 34px; 
}

.search-form__submit-button {
  margin-top: 25px;
}

.more-button {
  width: 399px; 
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.button:active {
  background-color: #545050;
}

.button:not(:active):focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.button:focus-visible {
  outline: solid 1px white;
  outline-offset: 0px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card-description:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-color: #fff;
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox:active {
  background-color: #fff;
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:checked + span {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
}
